

.filmes h2{
    text-shadow: 1px 1px 0px #8b8b8bd5;
    font-size: 50px;
}

.filmes--image{
    margin-bottom: 30px;
    margin-top: 30px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(175, 175, 175); 
  width: 85%; 
  align-items: center;
}



.filmes--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.filmes--horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top: 70px;
}

.filmes--title{
    font-size: 60px;
    font-weight: bold;
    max-width: 40%;
    margin-bottom: 30px;
    margin-top: 55px;
}

.filmes--info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    max-width: 40%;
}

.filmes--points, 
.filmes--year{
    display: inline-block;
    margin-right: 15px; 
}



.filmes--points{
    color: #46d369;
    
}

.filmes--descricao{
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    
}


@media (max-width: 760px){

    .filmes--title{
        font-size: 25px;
        margin-top: 20px;
    }
    .filmes--info{
       font-size: 16px; 
    }
    .filmes--descricao{
        font-size: 20px;
        max-width: 80%;
        max-height: 40%;
        margin-right: 30px;
        margin-top: 0;
    }
}